.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:300; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_2:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_2:hover{color:#FF2600; text-decoration:underline;}
.Style5{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:300; 
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #584D4C;
 word-wrap: break-word;}
.para8{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style9{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 52px; 
 font-weight:300; 
 color: #A6A6A6;
 word-wrap: break-word;}
.Style10{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #A03F20;
 word-wrap: break-word;}
.Style11{font-family:  'Baskerville-SemiBoldItalic', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:700; 
 font-style: italic;
 color: #A03F20;
 word-wrap: break-word;}
.Style12{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 word-wrap: break-word;}
.Style13{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #AC2D38;
 word-wrap: break-word;}
.Style14{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 word-wrap: break-word;}
.Style15{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_16{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_16:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_16:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_19{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_19:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_19:hover{color:#FF2600; text-decoration:underline;}
.Style22{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style23{font-family:  'MarkerFelt-Thin', 'Marker Felt' ;
 font-size: 50px; 
 font-weight:100; 
 color: #F04A3B;
 word-wrap: break-word;}
.Style24{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 word-wrap: break-word;}
.linkStyle_25{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_25:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_28{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_28:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_28:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_31{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_31:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_31:hover{color:#FF2600; text-decoration:underline;}
.Style34{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 word-wrap: break-word;}
.Style35{font-family:  'GurmukhiMN', 'Gurmukhi MN' ;
 font-size: 50px; 
 color: #00403C;
 word-wrap: break-word;}
.Style36{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #003F3B;
 word-wrap: break-word;}
.Style37{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 margin:0;
 color: #003F3B;
 word-wrap: break-word;}
.linkStyle_38{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_38:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_38:hover{color:#FF2600; text-decoration:underline;}
.Style41{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #003F3B;
 word-wrap: break-word;}
.linkStyle_42{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_42:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_42:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_45{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_45:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_45:hover{color:#FF2600; text-decoration:underline;}
.Style48{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #797979;
 word-wrap: break-word;}
.para49{font-size: 0; text-align:center; padding-bottom:26px; margin-top:0px; padding-top:0px;}
.Style50{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #797979;
 word-wrap: break-word;}
.para51{font-size: 0; text-align:center; padding-bottom:21px; margin-top:0px; padding-top:0px;}
.Style52{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 color: #008E51;
 word-wrap: break-word;}
.para53{font-size: 0; text-align:center; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style54{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #919190;
 word-wrap: break-word;}
.Style55{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #83ADD5;
 word-wrap: break-word;}
.Style56{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 42px; 
 color: #A03F20;
 word-wrap: break-word;}
.Style57{font-family:  'Futura-Bold', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #A9A9A8;
 word-wrap: break-word;}
.Style58{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #919190;
 word-wrap: break-word;}
.Style59{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #011891;
 word-wrap: break-word;}
.linkStyle_60{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_60:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_60:hover{color:#FF2600; text-decoration:underline;}
.Style63{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #929191;
 word-wrap: break-word;}
.Style64{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #033888;
 word-wrap: break-word;}
.para65{font-size: 0; text-align:center; padding-bottom:24px; margin-top:0px; padding-top:0px;}
.Style66{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 color: #706A53;
 word-wrap: break-word;}
.para67{font-size: 0; text-align:center; padding-bottom:13px; margin-top:0px; padding-top:0px;}
.Style68{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 36px; 
 color: #882424;
 word-wrap: break-word;}
.linkStyle_69{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_69:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_69:hover{color:#FF2600; text-decoration:underline;}
.Style72{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #904010;
 word-wrap: break-word;}
.Style73{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #7AA9E7;
 word-wrap: break-word;}
.Style74{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #54A1A1;
 word-wrap: break-word;}
.Style75{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #FE2500;
 word-wrap: break-word;}
.Style76{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 24px; 
 color: #FE2500;
 word-wrap: break-word;}
.Style77{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #0095FE;
 word-wrap: break-word;}
.Style78{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #58C1FE;
 word-wrap: break-word;}
.Style79{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 margin:0;
 word-wrap: break-word;}
.Style80{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 48px; 
 font-weight:300; 
 color: #929191;
 word-wrap: break-word;}
.Style81{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #668271;
 word-wrap: break-word;}
.Style82{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #584D4C;
 word-wrap: break-word;}
.Style83{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style84{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #584D4C;
 word-wrap: break-word;}
.Style85{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #754C70;
 word-wrap: break-word;}
.Style86{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #D81E22;
 word-wrap: break-word;}
.Style87{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #005292;
 word-wrap: break-word;}
.Style88{font-family:  'Helvetica' ,sans-serif ;
 font-size: 15px; 
 color: #005292;
 word-wrap: break-word;}
.Style89{font-family:  'Helvetica' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 color: #005292;
 word-wrap: break-word;}
.linkStyle_90{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_90:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_90:hover{color:#FF2600; text-decoration:underline;}
.Style93{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #005292;
 word-wrap: break-word;}
.linkStyle_94{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_94:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_94:hover{color:#FF2600; text-decoration:underline;}
.Style97{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 margin:0;
 color: #005292;
 word-wrap: break-word;}
.Style98{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #00183D;
 word-wrap: break-word;}
.Style99{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 margin:0;
 color: #00183D;
 word-wrap: break-word;}
.Style100{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 word-wrap: break-word;}
.Style101{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0095FE;
 word-wrap: break-word;}
.Style102{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #E6391D;
 word-wrap: break-word;}
.Style103{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_104{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_104:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_104:hover{color:#FF2600; text-decoration:underline;}
.Style107{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:300; 
 color: #929191;
 word-wrap: break-word;}
.Style108{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:300; 
 word-wrap: break-word;}
.Style109{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #526F39;
 word-wrap: break-word;}
.Style110{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #2A688A;
 word-wrap: break-word;}
.Style111{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #BC565C;
 word-wrap: break-word;}
.Style112{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #5E6EA4;
 word-wrap: break-word;}
.Style113{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #5E6EA4;
 word-wrap: break-word;}
.Style114{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #85685F;
 word-wrap: break-word;}
.Style115{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #85685F;
 word-wrap: break-word;}
.Style116{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 word-wrap: break-word;}
.Style117{font-family:  'FordCE-BoldExt', 'Ford CE Bold' ;
 font-size: 14px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style118{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 word-wrap: break-word;}
.Style118:visited{color:#0432FE; text-decoration:underline;}
.Style118:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_121{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_121:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_121:hover{color:#FF2600; text-decoration:underline;}
.Style124{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #6B7E99;
 word-wrap: break-word;}
.Style125{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #0D5375;
 word-wrap: break-word;}
.Style126{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style127{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #0095FE;
 word-wrap: break-word;}
.Style128{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #00F900;
 word-wrap: break-word;}
.Style129{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style130{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style131{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #A6A6A6;
 word-wrap: break-word;}
.Style132{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style133{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style134{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #00B5D9;
 word-wrap: break-word;}
.Style135{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #7E969A;
 word-wrap: break-word;}
.Style136{font-family:  'Gotham-Book', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 word-wrap: break-word;}
.Style137{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #5F95D4;
 word-wrap: break-word;}
.Style138{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #94C2EA;
 word-wrap: break-word;}
.Style139{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #4E6755;
 word-wrap: break-word;}
.Style140{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #4E6755;
 word-wrap: break-word;}
.linkStyle_141{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_141:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_141:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_144{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_144:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_144:hover{color:#FF2600; text-decoration:underline;}
.Style147{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:500; 
 color: #1F1F1F;
 word-wrap: break-word;}
.Style148{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 color: #2A688A;
 word-wrap: break-word;}
.Style149{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #514B42;
 word-wrap: break-word;}
.Style150{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style151{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #015AD4;
 word-wrap: break-word;}
.Style152{font-family:  'Zapfino' ;
 font-size: 24px; 
 color: #797979;
 word-wrap: break-word;}
.para153{font-size: 0; text-align:left; padding-bottom:16px; margin-top:0px; padding-top:0px;}
.Style154{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #929292;
 word-wrap: break-word;}
.Style155{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style156{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 48px; 
 color: #A9A9A8;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.linkStyle_160{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 color: #FFFEFE;
 word-wrap: break-word;}
.linkStyle_160:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_160:hover{color:#FF2600; text-decoration:underline;}
.Style163{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #3C7AC2;
 word-wrap: break-word;}
.linkStyle_164{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #FFFEFE;
 word-wrap: break-word;}
.linkStyle_164:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_164:hover{color:#FF2600; text-decoration:underline;}