.para1{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #584D4C;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 52px; 
 font-weight:300; 
 color: #A6A6A6;
 word-wrap: break-word;}
.Style5{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #A03F20;
 word-wrap: break-word;}
.Style6{font-family:  'Baskerville-SemiBoldItalic', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:700; 
 font-style: italic;
 color: #A03F20;
 word-wrap: break-word;}
.Style7{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 word-wrap: break-word;}
.Style8{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style9{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 word-wrap: break-word;}
.Style10{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_11{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_11:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_11:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_14{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_14:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_14:hover{color:#FF2600; text-decoration:underline;}
.Style17{font-family:  'MarkerFelt-Thin', 'Marker Felt' ;
 font-size: 50px; 
 font-weight:100; 
 color: #F04A3B;
 word-wrap: break-word;}
.Style18{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 word-wrap: break-word;}
.linkStyle_19{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_19:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_19:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_22{font-family:  'ComicSansMS', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 16px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_22:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_22:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_25{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_25:hover{color:#FF2600; text-decoration:underline;}
.Style28{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 word-wrap: break-word;}
.Style29{font-family:  'GurmukhiMN', 'Gurmukhi MN' ;
 font-size: 50px; 
 color: #00403C;
 word-wrap: break-word;}
.Style30{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #003F3B;
 word-wrap: break-word;}
.Style31{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 margin:0;
 color: #003F3B;
 word-wrap: break-word;}
.linkStyle_32{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_32:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_32:hover{color:#FF2600; text-decoration:underline;}
.Style35{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #003F3B;
 word-wrap: break-word;}
.linkStyle_36{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_36:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_36:hover{color:#FF2600; text-decoration:underline;}
.Style39{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #797979;
 word-wrap: break-word;}
.para40{font-size: 0; text-align:center; padding-bottom:26px; margin-top:0px; padding-top:0px;}
.Style41{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #797979;
 word-wrap: break-word;}
.para42{font-size: 0; text-align:center; padding-bottom:21px; margin-top:0px; padding-top:0px;}
.para43{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style44{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 color: #008E51;
 word-wrap: break-word;}
.para45{font-size: 0; text-align:center; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style46{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #919190;
 word-wrap: break-word;}
.Style47{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #83ADD5;
 word-wrap: break-word;}
.Style48{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 42px; 
 color: #A03F20;
 word-wrap: break-word;}
.Style49{font-family:  'Futura-Bold', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #A9A9A8;
 word-wrap: break-word;}
.Style50{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #919190;
 word-wrap: break-word;}
.Style51{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #011891;
 word-wrap: break-word;}
.Style52{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #929191;
 word-wrap: break-word;}
.Style53{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #033888;
 word-wrap: break-word;}
.para54{font-size: 0; text-align:center; padding-bottom:24px; margin-top:0px; padding-top:0px;}
.Style55{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 color: #706A53;
 word-wrap: break-word;}
.para56{font-size: 0; text-align:center; padding-bottom:13px; margin-top:0px; padding-top:0px;}
.Style57{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 36px; 
 color: #882424;
 word-wrap: break-word;}
.linkStyle_58{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_58:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_58:hover{color:#FF2600; text-decoration:underline;}
.Style61{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:500; 
 color: #904010;
 word-wrap: break-word;}
.Style62{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #7AA9E7;
 word-wrap: break-word;}
.Style63{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #54A1A1;
 word-wrap: break-word;}
.Style64{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #FE2500;
 word-wrap: break-word;}
.Style65{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 24px; 
 color: #FE2500;
 word-wrap: break-word;}
.Style66{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 48px; 
 color: #0095FE;
 word-wrap: break-word;}
.Style67{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 48px; 
 color: #58C1FE;
 word-wrap: break-word;}
.Style68{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 margin:0;
 word-wrap: break-word;}
.Style69{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 48px; 
 font-weight:300; 
 color: #929191;
 word-wrap: break-word;}
.Style70{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #668271;
 word-wrap: break-word;}
.Style71{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #584D4C;
 word-wrap: break-word;}
.Style72{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style73{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #584D4C;
 word-wrap: break-word;}
.Style74{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #754C70;
 word-wrap: break-word;}
.Style75{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #D81E22;
 word-wrap: break-word;}
.Style76{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #005292;
 word-wrap: break-word;}
.Style77{font-family:  'Helvetica' ,sans-serif ;
 font-size: 15px; 
 color: #005292;
 word-wrap: break-word;}
.Style78{font-family:  'Helvetica' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 color: #005292;
 word-wrap: break-word;}
.linkStyle_79{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_79:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_79:hover{color:#FF2600; text-decoration:underline;}
.Style82{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #005292;
 word-wrap: break-word;}
.linkStyle_83{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_83:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_83:hover{color:#FF2600; text-decoration:underline;}
.Style86{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 margin:0;
 color: #005292;
 word-wrap: break-word;}
.Style87{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #00183D;
 word-wrap: break-word;}
.Style88{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 margin:0;
 color: #00183D;
 word-wrap: break-word;}
.Style89{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 word-wrap: break-word;}
.Style90{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0095FE;
 word-wrap: break-word;}
.Style91{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #E6391D;
 word-wrap: break-word;}
.Style92{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_93{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_93:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_93:hover{color:#FF2600; text-decoration:underline;}
.Style96{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:300; 
 color: #929191;
 word-wrap: break-word;}
.Style97{font-family:  'Gotham-Light', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:300; 
 word-wrap: break-word;}
.Style98{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #526F39;
 word-wrap: break-word;}
.Style99{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #2A688A;
 word-wrap: break-word;}
.Style100{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #BC565C;
 word-wrap: break-word;}
.Style101{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #5E6EA4;
 word-wrap: break-word;}
.Style102{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #5E6EA4;
 word-wrap: break-word;}
.Style103{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #85685F;
 word-wrap: break-word;}
.Style104{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #85685F;
 word-wrap: break-word;}
.Style105{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 word-wrap: break-word;}
.Style106{font-family:  'FordCE-BoldExt', 'Ford CE Bold' ;
 font-size: 14px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style107{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 word-wrap: break-word;}
.Style107:visited{color:#0432FE; text-decoration:underline;}
.Style107:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_110{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_110:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_110:hover{color:#FF2600; text-decoration:underline;}
.Style113{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #6B7E99;
 word-wrap: break-word;}
.Style114{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #0D5375;
 word-wrap: break-word;}
.Style115{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 color: #0095FE;
 word-wrap: break-word;}
.Style116{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #0095FE;
 word-wrap: break-word;}
.Style117{font-family:  'Ford-BoldExt', 'Ford Bold' ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #00F900;
 word-wrap: break-word;}
.Style118{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style119{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style120{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #A6A6A6;
 word-wrap: break-word;}
.Style121{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style122{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style123{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #00B5D9;
 word-wrap: break-word;}
.Style124{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #7E969A;
 word-wrap: break-word;}
.Style125{font-family:  'Gotham-Book', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 word-wrap: break-word;}
.Style126{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #5F95D4;
 word-wrap: break-word;}
.Style127{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #94C2EA;
 word-wrap: break-word;}
.Style128{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #4E6755;
 word-wrap: break-word;}
.Style129{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #4E6755;
 word-wrap: break-word;}
.linkStyle_130{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_130:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_130:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_133{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_133:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_133:hover{color:#FF2600; text-decoration:underline;}
.Style136{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:500; 
 color: #1F1F1F;
 word-wrap: break-word;}
.Style137{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 color: #2A688A;
 word-wrap: break-word;}
.Style138{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #514B42;
 word-wrap: break-word;}
.Style139{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style140{font-family:  'Gotham-Medium', 'Gotham' ,'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:500; 
 color: #015AD4;
 word-wrap: break-word;}
.Style141{font-family:  'Zapfino' ;
 font-size: 24px; 
 color: #797979;
 word-wrap: break-word;}
.para142{font-size: 0; text-align:left; padding-bottom:16px; margin-top:0px; padding-top:0px;}
.Style143{font-family:  'HoeflerText-Regular', 'Hoefler Text' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #929292;
 word-wrap: break-word;}
.Style144{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style145{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 48px; 
 color: #A9A9A8;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}